//- - 
//-   var {header, paragraph} = data.luni 
//- h1= header 
//- //- p= paragraph[1] 
//- //- p= paragraph[0] 
//- .buton
//- each leu, cheie in paragraph 
//-   div.salut 
//-     div= cheie 
//-     p= leu
