//this is a temporary fix until I know how to reuse the main header

.header 
  .header__camasa-2 
    .header__title-2  Continue reading so you can get to know how I can help you help me help you so everyone gets helped




