.social {
  cursor: pointer;
  height: 64px;
  width: 64px;
  border-radius: 32px;
  border-color: ghostwhite;
  // border: none;
}
.facebook {
  background: linear-gradient(#046B2D, #5C8470);
}
.github {
  background-color: #6B0404;
}
.youtube {
  background-color: #37046B;
}
.linkedin {
  background-color: #16A9C9;
}

.icoana {
  color: white;
}

.locatie {
  width: auto;
  height: auto;
  display: flex;
  align-items: start;
  padding: 8px;
  gap: 16px;

}
