.social {
  height: 64px;
  width: 64px;
  border-radius: 32px;
  border-color: ghostwhite;
  padding: 0px;
  gap: 8px;
}
.round_1 {
  background: linear-gradient(#046B2D, #5C8470);
}
.round_2 {
  background-color: #6B0404;
}
.round_3 {
  background-color: #37046B;
}
.round_4 {
  background-color: #16A9C9;
}

.icoana {
  color: white;
}

// .cv-youtube {
//   width: 16px;
//   height: 16px;
//   border-radius: 50%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
