-
  var {sectionTitle, nameTitle, jobTitle} = data.content.welcome
.text
  .text__info-box 
    button.buton__normal--transparent 
      .orice 
        .cv-youtube
    .text__title= nameTitle

    .text__sub-title= jobTitle

    button.buton__normal--verde
      .orice
        .cv-arrow-down
      | Download
  .divider-48
