-
  var {sectionTitle, nameTitle, jobTitle} = data.content.welcome
.text
  .text__info-box 
    button.buton__normal--transparent 
      .orice 
        .cv-youtube
    .text__title= nameTitle

    .text__sub-title= jobTitle

    button.buton__normal--verde
      .orice
        .cv-arrow-down
      | Download
  .divider

  //- .text__gap-8
  //-   .text__info-box
  //-     .text__section-title Summary

  //-   .text__info-box 
  //-     .text__descriere I am working on improving the candidate's experience during the job search time.
  //-     .text__descriere I work every day with Remix, React, Hooks, Redux, NextJS, and Firebase with JavaScript and TypeScript to create amazing Apps.
