-
  var {sectionTitle, nameTitle, jobTitle} = data.content.welcome
.text
  .text__info-box 
    button.buton__normal--transparent 
      .orice 
        a(href="https://www.youtube.com/watch?v=wGrxMUGngnk&ab_channel=DJSkandalous" title="Motivational Training" target="_blank")
          .cv-youtube
    .text__title= nameTitle

    .text__sub-title= jobTitle

    button.buton__normal--verde
      .orice
        .cv-arrow-down
      | Download
  .divider-48
