%refolosibil, 
%transparent {
  cursor: pointer;
  border: 0;
}

%refolosibil {
  color: white;
  border-radius: 20px;
  height: 35px;
  line-height: 19px;
  padding: 8px 16px;
  display: flex;
  gap: 8px;
}

%transparent {
  padding: 0.75rem; 
}

%round_buttons {
  cursor: pointer;
  height: 64px;
  width: 64px;
  border-radius: 32px;
  border-color: ghostwhite;
}

.buton {
  &__normal {
    &--rosu {
      @extend %refolosibil;
      background-color: #CC0000;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--verde {
      @extend %refolosibil;
      
      background-color: #046b2d;
    }

    &--transparent {
      background-color: transparent;
      @extend %transparent;
      
      
    }
  //to be made, not working yet, they have to be reusable
  &__social{
    &--facebook {
      @extend %round_buttons;
      background: linear-gradient(#046B2D, #5C8470);

    }

    &--github {
      @extend %round_buttons;
      background-color: #6B0404;
    }
    
    &--youtube {
      @extend %round_buttons;
      background-color: #37046B;
    }
    
    &--linkedin {
      @extend %round_buttons;
      background-color: #16A9C9;
    }
  }
  }
}


a:visited, 
a:active {
  color: black;
}

.orice {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.space {
  &__1 {
    &__2 {
      display: flex;
      flex-direction: row;
      background-color: #c62a08;
    }
  }
}
