.text-2
    .text-2__section-title Summary
    .text-2__info-box 
      .text-2__descriere I am working on improving the candidate's experience during the job search time.
      .text-2__descriere I work every day with Remix, React, Hooks, Redux, NextJS, and Firebase with JavaScript and TypeScript to create amazing Apps.
      button.buton__normal--rosu
        .orice
          .cv-youtube
        | Subscribe

