-
  var {sectionTitle, description, nameTitle} = data.content.summary
.header 
  .header__orange-wrap 
    .header__orange-front= sectionTitle

.text
  .text__section-title= nameTitle
  .text__info-box 
    each text in description
      .text__descriere= text
    .divider_top-24 
    button.buton__normal--rosu
      .orice
        .cv-youtube
      | Subscribe
    .divider_bot-32
