include ../reuse/youtube
//- -
//-   var {recomandationList} = data.content.recomandations

//- each element in recomandationList
//-   h2= element.image
//-   p= element.personaName
//-   p= element.jobTitle
//-   p= element.review
//-   //- p= element.color 
//- //access .json data





