-
  //- var {skillBox} = data.skill
  const {sectionTitle} = data.skill.skillBox


h2= sectionTitle
h1 helooooo
  //- p= element.personaName
  //- p= element.jobTitle
  //- p= element.review
  //- p= element.color 
//access .json data
