.flexReusable {
  gap: 8px;
}

.flex-gap16 {
  gap: 16px;
}

a {
  text-decoration: none;
}

.divider-48 {
  height: 48px;
}

.divider-8 {
  height: 8px;
}

.divider-16 {
  height: 16px;
}

.divider_top-24 {
  height: 24px
}

.divider_bot-32 {
  height: 32px;
}
