-
  var {boxContent, socialList, sectionTitle} = data.content.connect

.header 
  .header__camasa 
    .header__title Meet me where you are

.text
  .text__info-box 
    button.buton__normal--transparent 
      .orice 
        .cv-youtube

.flex-gap16
  .box__gap-8
    .box__info-box 
      .box__section-title= boxContent.boxTitle 
    .box__info-box 
      each content in boxContent.content
        .box__descriere= content 


