-
  var {boxContent, socialList, sectionTitle} = data.content.connect

.header 
  .header__camasa 
    .header__title Meet me where you are
//header is hardcode for the moment

.flex-gap16
  .box__gap-8
    .box__info-box 
      .box__section-title= boxContent.boxTitle 
    .box__info-box 
      each content in boxContent.content
        .box__descriere= content 


