-
  var {boxContent, socialList, sectionTitle} = data.content.connect

.header 
  .header__camasa 
    .header__title Meet me where you are


.flex-gap16
  .text
    .text__info-box 
      button.buton__normal--transparent 
        .orice 
          a(href="https://www.youtube.com/watch?v=wGrxMUGngnk&ab_channel=DJSkandalous" title="Motivational Training" target="_blank")
            .cv-youtube
  .box__gap-8
    .box__info-box 
      .box__section-title= boxContent.boxTitle 
    .box__info-box 
      each content in boxContent.content
        .box__descriere= content 


